<a href="https://colab.research.google.com/github/annagradziel12/Python_podstawy/blob/master/funkcje.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


# Stwórz funkcje tworząca poniższy schemat poniższy schemat:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5

for num in range(1,6) :
    for i in range(num) :
        print (num, end=" ")
    print("\n")


# kalkulator
def calc(a, b, operacja):
	if (type(a) == int or type(a) == float) and (type(b) == int or type(b) == float):
		if operacja =='m':
			return a*b
		elif operacja == 'dz':
			if b != 0:
				return a/b
			else:
				print('nie dziel przez zero!')
		elif operacja == 'do':
			return a+b
		elif operacja == 'od':
			return a-b
		else:
			print('nieznana operacja!')
	else:
		print('podano zly typ danych')
	

#Stwórz funkcję liczącą ile cyfr jest w podanej liczbie
def numDigits(n) :
    n_str = str(n)
    return len(n_str)

# stwórz funkcję przyjmującą string, której wynikiem jest połączenie tego napisu ze swoim odbiciem lustrzanym np 'pies'->'piesseip'

def mirror(mystr) :
    return mystr + mystr[: :-1]


# napisz funkcję, która będzie przyjmowała napis, a zwracała jego elementy w odwrotnej kolejności
# np "pies je kiełbase'-> 'kiełbase je pies'

def reverseWord(w) :
    return ' '.join(w.split()[: :-1])
	

# Napisz funkcję usuwającą znaki specjalne
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str = "Napis, (ze znakami !) specjalnymi ? %$"

def remove_special_char(my_str) :
    no_punct = ""
    for char in my_str :
        if char not in punctuations :
            no_punct = no_punct + char
    return no_punct


# Napisz funkcje, ktorej zadaniem będzie dodanie dwóch macierzy
# X = [[12, 7, 3],
#      [4, 5, 6],
#      [7, 8, 9]]
# Y = [[5, 8, 1],
#      [6, 7, 3],
#      [4, 5, 9]]
#
# = > [17, 15, 4]
# [10, 12, 9]
# [11, 13, 18]

X = [[12, 7, 3],
     [4, 5, 6],
     [7, 8, 9]]
Y = [[5, 8, 1],
     [6, 7, 3],
     [4, 5, 9]]
result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]
# lecimy po wierszach
for i in range(len(X)) :
    # lecimy po kolumnach
    for j in range(len(X[0])) :
        result[i][j] = X[i][j] + Y[i][j]

# Napisz funkcje do transpozycji macierzy:#
# X = [[12, 7],
#      [4, 5],
#      [3, 8]]
# = > [12, 4, 3]
# [7, 5, 8]

X = [[12, 7],
     [4, 5],
     [3, 8]]
result = [[0, 0, 0],
          [0, 0, 0]]
# lecimy po wierszach
for i in range(len(X)) :
    # lecimy po kolumnach
    for j in range(len(X[0])) :
        result[j][i] = X[i][j]
for r in result :
    print(r)

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

[12, 4, 3]
[7, 5, 8]

Stwórz zmienne: imie(str), nazwisko(str), ilosc zwierząt domowych(int).
 Następnie utwórz z nich napis: "nazywam się IMIE NAZWISKO i mam ILOSC zwierząt domowych.
 Zamień wszystkie litery na wielkie oraz wybierz elementy od 2 do 10 napisu.

In [ ]:
imie = 'jan'
nazwisko = 'Kowalski'
ilosc_zwierzat = 5
string = f'nazywam się {imie} {nazwisko} i mam {ilosc_zwierzat} zwierząt domowych'
string.upper()[2 :11]

'ZYWAM SIĘ'

Stwórz listę liczb od 1 do 20. Wybierz z niej elementy parzyste, jednak nie bierz 10 pod uwagę.
Nie wypisuj liczb większych niż 13.

In [ ]:
lista = range(1, 20)
for x in lista :
    if x != 10 and x<13 and x% 2 == 0 :
        print(x)

2
4
6
8
12


dla poniższych list stwórz listę krotek, której pierwszy element stanowi iloraz wysokości przez liczbę pięter,
drugi element to sama nazwa kraju z listy 'miejca', a trzeci element to nazwa budynku:

In [ ]:
wysokosci = [829, 632, 601, 599.3, 554.5]
liczba_pieter = [163, 128, 120, 115, 123]
miejsca = ['Dubaj, Zjednoczone Emiraty Arabskie', 'Szanghaj, Chiny', 'Mekka, Arabia Saudyjska', 'Shenzhen, Chiny',
           'Seul, Korea Południowa']
nazwy = ['Burj Khalifa', 'Shanghai Tower', 'Abradż al-Bajt', 'Ping An Finance Centern', 'Lotte World Tower']

In [ ]:
lista = []
for wys, lp, miejsce, nazwa in zip(wysokosci, liczba_pieter, miejsca, nazwy) :
    wys_pietra = wys / lp
    kraj = miejsce.split(', ')[1]
    lista.append((wys_pietra, kraj, nazwa))


Napisz funkcje przyjmującą dwa argumenty typu int. Jeśli ich iloczyn jest większy od 1000, zwróć ich sume.

In [ ]:
def multiplication_or_sum(num1, num2) :
    product = num1 * num2
    if (product < 1000) :
        return product
    else :
        return num1 + num2

napisz funkcję przyjmującą string z wielkimi i małymi literami, zwróć nowy string,
 będzie zawierał najpierw małe potem wielkie litery pierwszego napisu

In [ ]:
inputStr = "DoM jESt"
words = inputStr.split()
lower = []
upper = []
for char in inputStr :
    if char.islower() :
        lower.append(char)
    if char.isupper() :
        upper.append(char)
sortedString = ''.join(lower + upper)

Napisz funkcje, zamieniającą literę a w napisie na "X".

In [ ]:
napis = 'Ala'
napis.replace("a", "X")

'AlX'



Napisz funkcje, zamieniającą pierwszą literę a w napisie na "X".

In [ ]:
napis = 'papuga'
napis = napis.lower()
first_a = napis.index("a")
new = napis[:first_a] + 'X' + napis[first_a + 1 :]

Stwórz funkcję przyjmującą string. Policz ile znajduje się w nim liter, znaków specjalnych oraz cyfr

In [ ]:
input_str = "5 znakow !@#$^ i 12 liter"

def fun1(inputString) :
    words = inputString.split()
    charCount = 0
    digitCount = 0
    symbolCount = 0
    for char in inputString :
      if char == '':
        continue
        
      elif char.isalpha() :
        charCount += 1
      elif char.isdigit() :
        digitCount += 1
      else :
        symbolCount += 1
    return charCount, digitCount, symbolCount

fun1(input_str)

(12, 3, 10)

napisz funkcje przyjmującą string. Policz, ile razy znajduje się słowo "usa", niezależnie od wielości liter

In [ ]:
string = "Usa, wreszcie usa"
new_string = string.lower()
print(new_string.count('usa'))

2

Stwórz funkcję przyjmującą zakres liczb od 1 do 10, która dla każdego elementu listy będzie wyświetlała sumę elementu
i poprzednich elementów

In [ ]:
def sumNum():
  suma = 0
  for num in range(1,11) :
    suma += num
	  print('suma dla liczby {}: {}'.format(num, suma))

TabError: ignored

In [ ]:
sumNum()