<a href="https://colab.research.google.com/github/annagradziel12/Python_podstawy/blob/master/klasy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KLASY

In [ ]:
class Dog():
    def __init__(self):
        self.name = 'Azor'
        self.age = 5

In [ ]:
dog1 = Dog()

print(dog1.name, dog1.age)

Azor 5

In [ ]:
class Dog():
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [ ]:
dog1 = Dog("Azor", 6)

print(dog1.name, dog1.age+1)

Azor 7

In [ ]:
dog1.age

7

In [ ]:
class Dog():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def give_voice(self):
        print("hau hau, my name is {}".format(self.name))

In [ ]:
dog1 = Dog("Azor", 5)
dog1.give_voice()

hau hau, my name is Azor

In [ ]:
dog1.age = 4
dog1.age

4

In [ ]:
dog2 = Dog("Burek", 6)
print(dog2.name, dog2.age)

Burek 6

In [ ]:
class Dog():
    def __init__(self, name, age, animal_type='dog'):
        self.name = name
        self.age = age
        self.animal_type = animal_type
        
zmienna = 'moj napis'
dog1 = Dog("Burek", 6)
print(dog1.name, dog1.age, dog1.animal_type)

Burek 6 dog

In [ ]:
dog1 = Dog("Burek", 6, 'cat')
print(dog1.name, dog1.age, dog1.animal_type)

Burek 6 cat

In [2]:
class Dog():
    animal_type='dog'
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
dog1 = Dog("Burek", 6)
print(dog1.name, dog1.age)

Burek 6

In [ ]:
dog1.animal_type = 'cat'
dog1.animal_type

'cat'

In [ ]:
dog2 = Dog("Azor", 5)
print(dog1.name, dog1.age, dog1.animal_type)

In [ ]:
class Dog():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def count_age(self, years):
        self.age = years + self.age
        print("jestem {}, mam {} lat i za {} lat bede mial {} lat".format(self.name, self.age, years, new_age))

In [ ]:
dog1 = Dog("Azor", 5)
dog1.count_age(5)

jestem Azor, mam 5 lat i za 5 lat bede mial 10 lat

1. Stwórz klase Car, której atrybutami będą kolor, rocznik, cena oraz marka. Klasa ta ma posiadać również metodę (funkcję) wyświetlającą w.w. dane, z tym, że cena ma byc po przecenie, której procent ma być podawany do metody jako zmienna. Stwórz dwa obiekty tej klasy i wykonaj na nich metode.

In [ ]:
class Car():
    def __init__(self, kolor, rocznik, cena, marka):
        self.kolor = kolor
        self.rocznik = rocznik
        self.cena = cena
        self.marka = marka
    
    def show_details(self, discount):
        new_price = (discount/100)*self.cena
        print('to jest {} samochod marki {} z rocznika {} i po przecenie kosztuje {}'.
              format(self.kolor, self.marka, self.rocznik, new_price))

In [ ]:
car1 = Car('zielony', 2018, 50000, 'ford')
car1.show_details(50)

to jest zielony samochod marki ford z rocznika 2018 i po przecenie kosztuje 25000.0

## GENERATORY

Iterator: by pobrać z niego kolejną wartość, wywołujemy metodę next(). 

Funkcja z generatorem może również zostać wstrzymana oraz wznowiona od miejsca, w którym została wstrzymana. Na podstawie zapamiętanego, stanu możliwe jest zwracanie różnych wartości podczas kolejnych wstrzymań funkcji. 

Generatory cechuje leniwa ewaluacja (ang. lazy evaluation), czyli tworzenie kolejnych elementów dopiero przy odwołaniu się do generatora. Technika ta pozwala zredukować liczbę wykonywanych obliczeń, zmniejszyć wykorzystanie pamięci oraz tworzyć nieskończoną ilość elementów.

In [ ]:
def liczby():
    for i in range(11):
        yield i * 2

for parzysta in liczby():
    print(parzysta)
    print('ok')

0
ok
2
ok
4
ok
6
ok
8
ok
10
ok
12
ok
14
ok
16
ok
18
ok
20
ok

In [ ]:
 def generate_numbers():
        print("start generator")
        yield(1)
        print("There was one")
        yield(2)
        print("There was two")
        yield(3)
        yield(4)
        print("end generator")

In [ ]:
generator = generate_numbers()
generator

In [ ]:
next(generator)

start generator

1

In [ ]:
next(generate_numbers())

start generator

1

In [ ]:
def generator_with_return():
    for i in range(5):
        if i == 3:
            return
            print('super')
        else:
            yield Session
            Session.close()

for x in generator_with_return():
    print(x)