<a href="https://colab.research.google.com/github/annagradziel12/Python_podstawy/blob/master/working_with_dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRACA Z DATAMI

## Tworzenie zmiennych czasowych

In [ ]:
import datetime
from dateutil import parser

In [ ]:
print("1 Hour")
print (datetime.time(1))

print("2 and a half hour")
print(datetime.time(2, 30))

print("3 hours, 45 minutes and 30 seconds")
print(datetime.time(3, 45, 30))

1 Hour
01:00:00
2 and a half hour
02:30:00
3 hours, 45 minutes and 30 seconds
03:45:30

In [ ]:
ts_now = datetime.datetime.now()
print(ts_now)

0:00:00
2020-02-29 14:12:24.144209

In [ ]:
print(ts_now.day)

29

In [ ]:
print(ts_now.year)
print(ts_now.month)
print(ts_now.minute)
print(ts_now.second)
print(ts_now.microsecond)

print(ts_now.isoweekday())

2020
2
12
24
144209
6

In [ ]:
ts_xmas = datetime.datetime(2020,12,24)
type(ts_xmas)

datetime.datetime

In [ ]:
ts_diff = ts_xmas - ts_now
print (ts_diff)
print (type(ts_diff))

298 days, 9:47:35.855791
<class 'datetime.timedelta'>

In [ ]:
today = datetime.datetime.now()
offset = datetime.timedelta(days=45, hours=13)
print(today + offset)

2020-04-15 03:17:50.175958

## KONWERSJA STRINGÃ“W I DAT
- %Y year
- %d day
- %m month
- %H hour
- %M minute
- %S second

In [ ]:
date_str =  "01-10-2015T14:34"
date_ts = datetime.datetime.strptime(date_str,"%m-%d-%YT%H:%M")
print(date_ts)

date_str = "10/01/2015"
date_ts = datetime.datetime.strptime(date_str,"%d/%m/%Y")
print(date_ts)

print(type(date_ts))

2015-01-10 14:34:00
2015-01-10 00:00:00
<class 'datetime.datetime'>

In [ ]:
new_date_str = datetime.datetime.strftime(date_ts, "%H:%M:%S %m-%d-%Y")
print(new_date_str)
print(type(new_date_str))

00:00
<class 'str'>

'2015-01-10 00:00:00'

In [ ]:
date_ts

datetime.datetime(2015, 1, 10, 0, 0)

In [ ]:
print(f'{date_ts.month}-{date_ts.year}')

1-2015

In [ ]:
from datetime import datetime
new_date_str = datetime.strftime(date_ts, "%H:%M:%S %m-%d-%Y")
print(new_date_str)
print(type(new_date_str))

00:00:00 01-10-2015
<class 'str'>

PARSE

In [ ]:
from dateutil.parser import parse
print(parse('January 31, 2010'))
parse("2003-09-25T10:49:41")

2010-01-31 00:00:00

datetime.datetime(2003, 9, 25, 10, 49, 41)

1. StwÃ³rz zmiennÄ… future, ktÃ³rej data to 20 stycznia 2021 o 22:34

In [ ]:
future = datetime.datetime(2021,1,20,22,34)
print(future)

2021-01-20 22:34:00

2. ZamieÅ„ poniÅ¼szÄ… datÄ™ na: â€™31 January, 2001, Wednesdayâ€™

In [ ]:
dt = datetime.datetime(2001, 1, 31)

In [ ]:
dt.strftime('%d %B, %Y, %A')

'31 January, 2001, Wednesday'

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

3. StwÃ³rz zmiennÄ…, ktÃ³ra jest rÃ³Å¼nicÄ… czasu future i chwili obecnej. wynik wyÅ›wietl w sekundach

In [ ]:
td = future - datetime.datetime.now()
print(td)

326 days, 6:49:21.779138

In [ ]:
print(td.total_seconds())
print(td.days*24*60*60 + td.seconds)

28190961.779138
28190961

4. ZamieÅ„ napis 'Jan 20, 2017 5pm' na zmiennÄ… typu czas

In [ ]:
s = 'Jan 20, 2017 5pm'
datetime.datetime.strptime(s, '%b %d, %Y %I%p')

datetime.datetime(2017, 1, 20, 17, 0)

5. W poniÅ¼szej liÅ›cie dat znajdÅº najstarszÄ…. WyÅ›wietl czas, jaki upÅ‚ynÄ…Å‚ od tej chwili do teraz w sekundach

In [ ]:
datetime_list = ['25.08.1995 00:00:00', '22.07.1999 00:00:00', '01.01.2001 13:42:59', '13.12.2011 01:02:03']

In [ ]:
format_d = "%d.%m.%Y %H:%M:%S"

time_now = datetime.datetime.now()
datetime_list = [datetime.datetime.strptime(x, format_d) for x in datetime_list]
(time_now - min(datetime_list)).total_seconds()

773682714.911423

In [ ]:
min(datetime_list)

datetime.datetime(2011, 12, 13, 1, 2, 3)

6. Ile minÄ™Å‚o sobÃ³t pomiÄ™dzy dwoma poniÅ¼szymi latami, ktÃ³re przypadajÄ… na dzieÅ„ podzielny przez 3? (odp: 14)

In [ ]:
d1 = datetime.date(1869, 1, 2)
d2 = datetime.date(1869, 10, 2)

In [ ]:
delta = d2 - d1
delta

datetime.timedelta(days=273)

In [ ]:
dates_btw_d1d2 = [(d1 + datetime.timedelta(i)) for i in range(delta.days + 1)]
dates_btw_d1d2[:10]

[datetime.date(1869, 1, 2),
 datetime.date(1869, 1, 3),
 datetime.date(1869, 1, 4),
 datetime.date(1869, 1, 5),
 datetime.date(1869, 1, 6),
 datetime.date(1869, 1, 7),
 datetime.date(1869, 1, 8),
 datetime.date(1869, 1, 9),
 datetime.date(1869, 1, 10),
 datetime.date(1869, 1, 11)]

In [ ]:
dates_btw_d1d2 = [(d1 + datetime.timedelta(i)) for i in range(delta.days + 1)]

n_saturdays = 0
for d in dates_btw_d1d2:
    if int(d.day) % 3==0 and d.isoweekday() == 6: 
        print(d.day, d)
        n_saturdays += 1

print(n_saturdays)

9 1869-01-09
30 1869-01-30
6 1869-02-06
27 1869-02-27
6 1869-03-06
27 1869-03-27
3 1869-04-03
24 1869-04-24
15 1869-05-15
12 1869-06-12
3 1869-07-03
24 1869-07-24
21 1869-08-21
18 1869-09-18
14