<a href="https://colab.research.google.com/github/annagradziel12/Python_podstawy/blob/master/%C4%87wiczenia_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ZADANIA UTRWALAJĄCE WIEDZĘ

1. Przetwórz plik timelog.txt na poniższą formę (odpowiednią ilość spacji można pominąć):

In [ ]:
"""
09:20-11:00 Introduction
11:00-11:15 Exercises
11:15-11:35 Break
11:35-12:30 Numbers and strings
12:30-13:30 Lunch Break
13:30-14:10 Exercises
14:10-14:30 Solutions
14:30-14:40 Break
14:40-15:40 Lists
15:40-17:00 Exercises
17:00-17:30 Solutions

09:30-10:30 Lists and Tuples
10:30-10:50 Break
10:50-12:00 Exercises
12:00-12:30 Solutions
12:30-12:45 Dictionaries
12:45-14:15 Lunch Break
14:15-16:00 Exercises
16:00-16:15 Solutions
16:15-16:30 Break
16:30-17:00 Functions
17:00-17:30 Exercises

Break                      65 minutes    6%
Dictionaries               15 minutes    1%
Exercises                 340 minutes   35%
Functions                  30 minutes    3%
Introduction              100 minutes   10%
Lists                      60 minutes    6%
Lists and Tuples           60 minutes    6%
Lunch Break               150 minutes   15%
Numbers and strings        55 minutes    5%
Solutions                  95 minutes    9%
"""
print()

In [ ]:
import re
from datetime import datetime
ending_hours = []
lines = []
activities = []
with open('timelog.txt', 'r') as f:
    for line in f.readlines():
        ending_hour = re.search(r'\d\d:\d\d', line)
        if ending_hour:
            lines.append(line)
            ending_hours.append(ending_hour.group())
            activities.append("".join(re.findall(r'[^0-9:]', line)).strip())

starting_hours = ending_hours[:-1]
ending_hours = ending_hours[1:]

new_lines = []
for line, ending_hour in zip(lines, ending_hours):
    if 'End' not in line:
        new_lines.append(line[:5]+'-'+ending_hour+line[5:])
    else:
        new_lines.append('\n') 

for line in new_lines:
    print(line)

09:20-11:00 Introduction

11:00-11:15 Exercises

11:15-11:35 Break

11:35-12:30 Numbers and strings

12:30-13:30 Lunch Break

13:30-14:10 Exercises

14:10-14:30 Solutions

14:30-14:40 Break

14:40-15:40 Lists

15:40-17:00 Exercises

17:00-17:30 Solutions



09:30-10:30 Lists and Tuples

10:30-10:50 Break

10:50-12:00 Exercises

12:00-12:30 Solutions

12:30-12:45 Dictionaries

12:45-14:15 Lunch Break

14:15-16:00 Exercises

16:00-16:15 Solutions

16:15-16:30 Break

16:30-17:00 Functions

17:00-17:30 Exercises

In [ ]:
starting_hours = [datetime.strptime(x, '%H:%M') for x in starting_hours]
ending_hours = [datetime.strptime(x, '%H:%M') for x in ending_hours]
                 
time_diff = [x-y for x,y in zip(ending_hours, starting_hours)]
time_diff_minutes = [x.seconds/60 for x in time_diff]

activity_time_dictionary = {}
for key, value in zip(activities, time_diff_minutes):
    if key not in activity_time_dictionary.keys():
        activity_time_dictionary[key] = value
    else: 
        activity_time_dictionary[key] += value

del activity_time_dictionary['End']
print(activity_time_dictionary)

{'Introduction': 100.0, 'Exercises': 340.0, 'Break': 65.0, 'Numbers and strings': 55.0, 'Lunch Break': 150.0, 'Solutions': 95.0, 'Lists': 60.0, 'Lists and Tuples': 60.0, 'Dictionaries': 15.0, 'Functions': 30.0}

In [ ]:
from collections import OrderedDict
activity_time_dictionary_ordered = OrderedDict(sorted(activity_time_dictionary.items(), key=lambda x: x[0]))
print(activity_time_dictionary_ordered)

OrderedDict([('Break', 65.0), ('Dictionaries', 15.0), ('Exercises', 340.0), ('Functions', 30.0), ('Introduction', 100.0), ('Lists', 60.0), ('Lists and Tuples', 60.0), ('Lunch Break', 150.0), ('Numbers and strings', 55.0), ('Solutions', 95.0)])

In [ ]:
sum_of_all = sum(activity_time_dictionary_ordered.values())
print(sum_of_all)

970.0

In [ ]:
percents = [x/sum_of_all*100 for x in activity_time_dictionary_ordered.values()]
percents = [round(x) for x in percents]
print(percents)

[7, 2, 35, 3, 10, 6, 6, 15, 6, 10]

In [ ]:
new_lines_2 = []
for key, value, percent in zip(activity_time_dictionary_ordered.keys(), 
                      activity_time_dictionary_ordered.values(), 
                      percents):
    new_lines_2.append(key + '\t' +str(int(value)) + ' minutes' + ' ' + str(percent)+'%'+'\n')
    
for line in new_lines_2:
    print(line)

Break	65 minutes 7%

Dictionaries	15 minutes 2%

Exercises	340 minutes 35%

Functions	30 minutes 3%

Introduction	100 minutes 10%

Lists	60 minutes 6%

Lists and Tuples	60 minutes 6%

Lunch Break	150 minutes 15%

Numbers and strings	55 minutes 6%

Solutions	95 minutes 10%

In [ ]:
new_lines.append('\n')
new_lines.append(new_lines_2)
print(new_lines)

['09:20-11:00 Introduction\n', '11:00-11:15 Exercises\n', '11:15-11:35 Break\n', '11:35-12:30 Numbers and strings\n', '12:30-13:30 Lunch Break\n', '13:30-14:10 Exercises\n', '14:10-14:30 Solutions\n', '14:30-14:40 Break\n', '14:40-15:40 Lists\n', '15:40-17:00 Exercises\n', '17:00-17:30 Solutions\n', '\n', '09:30-10:30 Lists and Tuples\n', '10:30-10:50 Break\n', '10:50-12:00 Exercises\n', '12:00-12:30 Solutions\n', '12:30-12:45 Dictionaries\n', '12:45-14:15 Lunch Break\n', '14:15-16:00 Exercises\n', '16:00-16:15 Solutions\n', '16:15-16:30 Break\n', '16:30-17:00 Functions\n', '17:00-17:30 Exercises\n', '\n', ['Break\t65 minutes 7%\n', 'Dictionaries\t15 minutes 2%\n', 'Exercises\t340 minutes 35%\n', 'Functions\t30 minutes 3%\n', 'Introduction\t100 minutes 10%\n', 'Lists\t60 minutes 6%\n', 'Lists and Tuples\t60 minutes 6%\n', 'Lunch Break\t150 minutes 15%\n', 'Numbers and strings\t55 minutes 6%\n', 'Solutions\t95 minutes 10%\n']]

In [ ]:
with open('new_timelog.txt', 'w') as f:
    for line in new_lines:
        f.writelines(line)

--------------------------------

2. Wczytaj plik 'personal_dataset.txt', jego zawartość przetwórz na słownik i zapisz do pliku o formacie json. Możesz wykorzystać pomocniczy zbiór imion i stanowisk. Zamknij kod w funkcje.

In [ ]:
job_list = ['Dentist', 'Operator', 'IT Support Staff','Staffing Consultant','Clerk',
            'Healthcare Specialist','HR Coordinator','Auditor',
            'Global Logistics Supervisor','Baker','Cashier']

In [ ]:
names = ['Barney','Lindsay','Lana','Daniel','Caydence','Leslie','Eileen','Chuck','Tyler','Maxwell','Wade',
         'Oliver','Tara','Alan','Ryan']

In [ ]:
import re
import json
job_list = [x.replace(' ', '') for x in job_list]
counter_id = 0
dictionaries = {}

with open('personal_dataset.txt', 'r') as f:
    for line in f.readlines():
        counter_id +=1
        telephone = re.findall(r'\d-\d{3}-\d{3}-\d{4}', line)
        date = re.search(r'((\d\d)|(\d))/((\d\d)|(\d))/\d\d\d\d', line).group()
        mail = re.search(r'([A-Z][a-z]+_\w+\d+@\w+.\.)(org|com|biz|tech)', line).group()
        while mail[0].isdigit():
            mail = mail[1:]
        surname = mail.split('_')[1].split("@")[0]
        name = mail.split('_')[0]
        surname = ''.join(x for x in surname if not x.isdigit())
        for job in job_list:
            if re.search(job, line):
                position = job
                break
        
        dictionary = {
            'name':name,
            'surname':surname,
            'mail':mail,
            'date': date,
            'telephone': telephone,
            'position':position
        }
        dictionaries[counter_id] = dictionary
        

with open("personal_dataset_2.json", "w") as f:
    json.dump(dictionaries, f)

In [ ]:
with open('personal_dataset_2.json', 'r') as f:
    x = json.load(f)
x

{'1': {'name': 'Barney',
  'surname': 'Hunt',
  'mail': 'Barney_Hunt6412@naiker.biz',
  'date': '19/8/2084',
  'telephone': ['6-318-316-4803'],
  'position': 'Dentist'},
 '2': {'name': 'Lindsay',
  'surname': 'Rowlands',
  'mail': 'Lindsay_Rowlands3150@ubusive.com',
  'date': '9/30/3088',
  'telephone': ['7-766-854-6640'],
  'position': 'Operator'},
 '3': {'name': 'Lana',
  'surname': 'Cartwright',
  'mail': 'Lana_Cartwright5310@tonsy.org',
  'date': '2/22/0243',
  'telephone': ['1-152-212-2482'],
  'position': 'ITSupportStaff'},
 '4': {'name': 'Daniel',
  'surname': 'Wellington',
  'mail': 'Daniel_Wellington3835@twipet.com',
  'date': '3/15/4356',
  'telephone': ['2-527-341-7124'],
  'position': 'StaffingConsultant'},
 '5': {'name': 'Caydence',
  'surname': 'Gosling',
  'mail': 'Caydence_Gosling1235@kideod.biz',
  'date': '12/15/7282',
  'telephone': ['2-570-842-1858'],
  'position': 'Clerk'},
 '6': {'name': 'Leslie',
  'surname': 'Cadman',
  'mail': 'Leslie_Cadman3008@kideod.biz',
  'date': '7/5/8411',
  'telephone': ['2-573-820-2762'],
  'position': 'StaffingConsultant'},
 '7': {'name': 'Eileen',
  'surname': 'Ward',
  'mail': 'Eileen_Ward5399@nickia.com',
  'date': '6/21/4241',
  'telephone': ['2-657-070-7076'],
  'position': 'HealthcareSpecialist'},
 '8': {'name': 'Chuck',
  'surname': 'Chadwick',
  'mail': 'Chuck_Chadwick9560@sheye.org',
  'date': '12/1/0500',
  'telephone': ['0-765-186-6636'],
  'position': 'HRCoordinator'},
 '9': {'name': 'Tyler',
  'surname': 'Preston',
  'mail': 'Tyler_Preston2357@corti.com',
  'date': '2/27/8407',
  'telephone': ['7-747-388-5835'],
  'position': 'Auditor'},
 '10': {'name': 'Maxwell',
  'surname': 'Tyler',
  'mail': 'Maxwell_Tyler9131@jiman.org',
  'date': '11/4/8663',
  'telephone': ['2-488-880-6217'],
  'position': 'GlobalLogisticsSupervisor'},
 '11': {'name': 'Wade',
  'surname': 'Russell',
  'mail': 'Wade_Russell1366@brety.org',
  'date': '2/22/8299',
  'telephone': ['7-004-170-2285'],
  'position': 'ITSupportStaff'},
 '12': {'name': 'Oliver',
  'surname': 'Jenkin',
  'mail': 'Oliver_Jenkin5868@zorer.org',
  'date': '12/20/3928',
  'telephone': ['5-174-286-6408'],
  'position': 'Baker'},
 '13': {'name': 'Tara',
  'surname': 'Shields',
  'mail': 'Tara_Shields8693@corti.com',
  'date': '6/29/8323',
  'telephone': ['0-224-056-4737'],
  'position': 'HRCoordinator'},
 '14': {'name': 'Alan',
  'surname': 'Faulkner',
  'mail': 'Alan_Faulkner2459@yahoo.com',
  'date': '7/16/8577',
  'telephone': ['6-851-428-6350'],
  'position': 'Cashier'},
 '15': {'name': 'Ryan',
  'surname': 'Kelly',
  'mail': 'Ryan_Kelly5993@infotech44.tech',
  'date': '2/22/2247',
  'telephone': ['5-504-514-5481'],
  'position': 'ITSupportStaff'}}

3. Na podstawie pliku 'apache_access.log' policz ile było zapytań GET z adresu localhost (127.0.0.1) pomiędzy 10:40 a 10:55

In [ ]:
import datetime
import pytz

utc=pytz.UTC

counter = 0
# 10/Apr/2007
start_date = datetime.datetime(2007, 4, 10, hour=7, minute=40).replace(tzinfo=utc)
end_date = datetime.datetime(2007, 4, 10, hour=7, minute=55).replace(tzinfo=utc)

with open('apache_access.log', 'r') as f:
    for line in f.readlines():
        if line.startswith("127.0.0.1 "):
            line_2 = line.split(' - - [')[1].split('] "')
            date = line_2[0]
            date = datetime.datetime.strptime(date, '%d/%b/%Y:%H:%M:%S %z')
            request = line_2[1]
            if (date>start_date) & (date<end_date) & (request.startswith('GET')):
                counter +=1
                
print(counter)

5

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

4.  W pliku 'pytest.ini' znajduje się kilka sekcji, a każda sekcja zaczyna się od wyrażenia w nawiasach kwadratowych []. Wewnątrz każdej sekcji znajdują się pary klucz-wartość z opcjonalnymi spacjami koło znaku "=". Klucze mogą zawierać litery, numery, podkreślniki (tzw. podłoga "_") lub myślniki. Dodatkowo w pliku mogą znajdować się puste linie oraz linie komentarzy, rozpoczynające się od "#". Przekształć plik 'pytest.ini' do poniższej formy:

$VAR1 = {
          'earth' => {
                       'base' => 'London',
                       'ship' => 'x-wing'
                     },
          'alpha' => {
                       'base' => 'moon',
                       'ship' => 'alpha 3'
                     }
        };

In [ ]:
new_dict = {}
with open('pytest.ini', 'r') as f:
    for line in f.readlines():
        if line.startswith('['):
            new_key = line.replace('[', '').replace(']', '').strip()
        elif (line.strip()!='') & ('#' not in line):
            print('line: ',line)
            key_value = [x.strip() for x in line.split('=')]
            if new_key in new_dict.keys():
                new_dict[new_key].append({key_value[0]:key_value[1]})
            else:
                new_dict[new_key] = [{key_value[0]:key_value[1]}]
        
print(new_dict)

line:  base  = moon

line:  ship= alpha 3

line:  base=London

line:  ship=  x-wing

{'alpha': [{'base': 'moon'}, {'ship': 'alpha 3'}], 'earth': [{'base': 'London'}, {'ship': 'x-wing'}]}

In [ ]:
new_dict_str = str(new_dict)
new_dict_str

"{'alpha': [{'base': 'moon'}, {'ship': 'alpha 3'}], 'earth': [{'base': 'London'}, {'ship': 'x-wing'}]}"

In [ ]:
new_dict_str = '$VAR1 = ' + new_dict_str
new_dict_str = new_dict_str.replace('}, {', ',').replace('[', '').replace(']', '').replace(':', "=>")
new_dict_str

"$VAR1 = {'alpha'=> {'base'=> 'moon','ship'=> 'alpha 3'}, 'earth'=> {'base'=> 'London','ship'=> 'x-wing'}}"